{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class = "post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
    <h1>Test Image</h1>
    <img src="static/effel.jpg">
    <h1>Test Video</h1>
    <video src="static/video.mp4" controls></video>
{% endblock %}