{% load static %}
<!DOCTYPE html>
	<html>
		<head>
			<title>Web Service Programming</title>
				<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
				<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
				<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
				<link rel="stylesheet" href="{% static 'css/blog.css' %}">
		</head>
		<body>
			<div class="page-header">
				<h1><a href="/">Web Service Programming</a></h1>
			</div>
			<div class = "content container">
				<div class = "row">
					<div class = "col-md-8">
						{% for post in posts %}
							<div class = "post">
								<div class = "date">
									<p>published: {{ post.published_date }}</p>
								</div>
							<h1><a href="">{{ post.title }}</a></h1>
							<p>{{ post.text|linebreaksbr }}</p>
							</div>
						{% endfor %}
						<h1>Test Image</h1>
						<img src="static/effel.jpg">
						<h1>Test Video</h1>
						<video src="static/video.mp4" controls></video>
					</div>
				</div>
			</div>
		</body>
	</html>